<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njust.mapper.ResourceMapper">
  <resultMap id="BaseResultMap" type="com.njust.domain.Resource">

    <id column="resource_id" jdbcType="VARCHAR" property="resourceId" />
    <result column="resource_name" jdbcType="VARCHAR" property="resourceName" />
    <result column="resource_type_id" jdbcType="INTEGER" property="resourceTypeId" />
    <result column="resource_content" jdbcType="INTEGER" property="resourceContent" />
    <result column="resource_remark" jdbcType="VARCHAR" property="resourceRemark" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="resource_course_id" jdbcType="INTEGER" property="resourceCourseId"/>
  </resultMap>
  <sql id="Base_Column_List">
        resource_id,resource_name,resource_type_id,resource_content,resource_remark,
        deleted,create_time,update_time,create_by,update_by,resource_course_id
  </sql>

    <update id="deletedById" parameterType="com.njust.domain.Resource">
    update resource set
    deleted=1
    where resource_id=#{value}
    </update>

    <select id="selectByName" resultType="string">
    select url from resource where deleted=0 and resource_name=#{fileName}
    </select>
    <select id="selectByUserExcelName" resultType="string">
    select url from resource where deleted=0 and resource_name=#{fileName}
    </select>

    <select id="selectResourceCount" resultType="integer">
    SELECT
        count( 1 )
    FROM
        resource
    WHERE
        resource_course_id = #{courseId}
        AND deleted = 0
    </select>

    <select id="seleceResourceTypeCount" resultType="integer">
        SELECT
            count( 1 )
        FROM
            resource
        WHERE
            resource_type_id = #{resourceTypeId}
            AND deleted = 0
    </select>
</mapper>